* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier";
}
ul {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  position: relative;
}

.main-container {
  width: 60%;
  margin: 2% auto;
  padding-top: 2.5%;
  border: 1px solid green;
  border-radius: 10px;
  text-align: center;
}
.main-text {
  color: red;
}

.grid-container {
  margin: auto;
  display: inline-grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  border: 2px solid blueviolet;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.item {
  font-size: 5rem !important;
  color: #555;
  text-align: center;
}

.container {
  /* width: 60%; */
  margin: auto !important;
  padding: 2.5%;
}
div.flex-container {
  display: flex;
  justify-content: space-around;
}

.clear-board {
  padding-top: 5%;
}
